<p id="notice"><%= notice %></p>

<h1>Apn Tokens</h1>

<table>
  <thead>
    <tr>
      <th>Token</th>
      <th>Type</th>
      <th>Memo</th>
      <th>Updated at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @apn_tokens.each do |apn_token| %>
      <tr>
        <td><%= apn_token.token %></td>
        <td><%= apn_token.purpose %></td>
        <td><%= apn_token.memo %></td>
        <td><%= apn_token.updated_at %></td>
        <td><%= link_to 'Show', apn_token %></td>
        <td><%= link_to 'Edit', edit_apn_token_path(apn_token) %></td>
        <td><%= link_to 'Destroy', apn_token, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<form method="get" action="/test-notify">
  <input type="text" value="test from m" size="60"/>
  <input type="submit" value="Test push notification" /><br/>
  <small>Message will be sent to tokens which purpose is 'test'.</small>
</form>
