<p id="notice"><%= notice %></p>

<p>
  <strong>Token:</strong>
  <%= @apn_token.token %>
</p>

<p>
  <strong>Purpose:</strong>
  <%= @apn_token.purpose %>
</p>

<%= link_to 'Edit', edit_apn_token_path(@apn_token) %> |
<%= link_to 'Back', apn_tokens_path %>
