<!DOCTYPE html>
<html>
  <head>
    <title>MTsunami</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <footer>
      <p style="text-align: center; margin-top: 24px">Code4Miyazaki</p>
    </footer>
  </body>
</html>
