<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @device.name %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @device.desc %>
</p>

<p>
  <strong>Active:</strong>
  <%= @device.active %>
</p>

<%= link_to 'Edit', edit_device_path(@device) %> |
<%= link_to 'Back', devices_path %>
