<p> <strong><%= @n_apn_tokens %></strong> iOS smartphones and <strong><%= @n_devices %></strong> Raspberry Pi devices are registered.</p>

<ul>
  <li><%= link_to 'APN tokens(iOS )',apn_tokens_path %> <small><%= link_to 'Firebase Console', 'https://console.firebase.google.com/', target: "firebase" %></small></li>
  <li><%= link_to 'Quakes',quakes_path %></li>
  <li><%= link_to 'Devices',devices_path %></li>
</ul>
<p>Find us on
  <%= link_to 'GitHub','https://github.com/codeformiyazaki/m-tsunami-ios' %> and
  <%= link_to 'App Store','https://apps.apple.com/us/app/%E5%AE%AE%E5%B4%8E%E6%B4%A5%E6%B3%A2%E9%98%B2%E7%81%BD/id1462576599?ls=1' %>.</p>
